<mat-toolbar color="primary" class="toolbar">
  <h1>TO DO APP</h1>
</mat-toolbar>

<div class="container">

  <app-add-task-form></app-add-task-form>
  <app-task-list></app-task-list>

</div>

<footer class="footer-style">

    <p class="p-footer">
      <strong>Sortuj według:</strong>
    </p>
    <p class="p-footer"><span (click)="sortByDate()"> daty deadline</span></p>
    <p class="p-footer"><span (click)="sortByPriority()"> priorytetu.</span></p>

</footer>

<router-outlet></router-outlet>
