html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #424242;
}

p {
  text-align: left;
}

.container {
  width: 100%;
  padding: 0px;
  background-color: #e9e9e9e9;
  vertical-align: top;
  display: inline-block;
  margin: 0px auto;
  text-align:center;
}

.footer-style {
  padding-left: 15px;
  background-color: #424242;
}

.p-footer {
  color: #ffffff;
}

.column-container {
  width: 250px;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
}

.list-container {
  width: 100%;
  background-color: #ffffff;
  border: solid 1px #d0d0d0d0;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

.form-style {
  max-width: 200px;
  width: 100%;
}

.toolbar {
  width: 100% !important;
}
